h1{
    margin-left: 250px;
}
p{
    color: red;
    text-align: center;
    
}

fieldset{
    width: 700px;
    margin-left: 300px;
   height: 300px;
}
#right{
   float: right;
   padding-right: 200px;
}
#left{
    float: left;
    
}
#text{
    clear: both;
}


span{
    color: red;
}
input[type=text]{
border-radius: 5px;
height: 30px;
}
input[type=file]{
    border-radius: 5px;
    height: 30px;
    }

input[type=tel]{
    border-radius: 5px;
    height: 30px;
    }
    input[type=mail]{
        border-radius: 5px;
        height: 30px;
        }

input[type=submit]{
border-radius: 5px;
background-color: green;
border: 1px solid green;
font-size: 14px;
color: white;
height: 30px;
}



input[type=button]{
    border-radius: 5px;
    background-color: blue;
    margin-right: 350px;
    border: 1px solid blue;
    font-size: 14px;
    color: white;
    height: 30px;
    }
    a:hover{font-size: 14px;}